@use "colors" as *;
@use "typography" as *;

$default-theme: $dark;

// contextual
$color-text-default: $color-neutral-900;
$color-background-default: $color-neutral-100;

//body
$body-font-family: $font-family-base;
$body-font-size: $font-size-300;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$heading-font-family: $font-family-sub-accent;
$heading-color-default: $color-text-default;
$heading-font-weight: $font-weight-default;
$heading-line-height: 1.1;

$accent-font-family: $font-family-accent;
$accent-text-color: $color-text-default;
$accent-text-gradient: $color-gradient-primary;