@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, resets font sizes */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-900: 6rem;
  --fs-800: 4.75rem;
  --fs-700: 3rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-450: 1.25rem;
  --fs-300: 1rem;
  --active-theme-name: dark;
  --neutral-1000: hsl(0, 0%, 100%);
  --neutral-900: hsl(39, 47%, 90%);
  --neutral-100: hsl(240, 9%, 9%);
  --neutral-000: hsl(0, 0%, 0%);
  --pink-400: hsl(326, 100%, 53%);
  --cyan-400: hsl(176, 100%, 53%);
  --yellow-400: hsl(44, 100%, 56%);
}
@media screen and (min-width: 45em) {
  :root {
    --fs-900: 8rem;
    --fs-600: 2.25rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
  }
}

body {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-size: var(--fs-300);
  color: var(--neutral-900);
  background-color: var(--neutral-100);
  line-height: 1.5;
}

.grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.even-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.clr-name-dark {
  color: var(--name-dark);
}

.bg-name-dark {
  background-color: var(--name-dark);
}

.clr-neutral-1000 {
  color: var(--neutral-1000);
}

.bg-neutral-1000 {
  background-color: var(--neutral-1000);
}

.clr-neutral-900 {
  color: var(--neutral-900);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.clr-neutral-100 {
  color: var(--neutral-100);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.clr-neutral-000 {
  color: var(--neutral-000);
}

.bg-neutral-000 {
  background-color: var(--neutral-000);
}

.clr-pink-400 {
  color: var(--pink-400);
}

.bg-pink-400 {
  background-color: var(--pink-400);
}

.clr-cyan-400 {
  color: var(--cyan-400);
}

.bg-cyan-400 {
  background-color: var(--cyan-400);
}

.clr-yellow-400 {
  color: var(--yellow-400);
}

.bg-yellow-400 {
  background-color: var(--yellow-400);
}

.ff-base {
  font-family: "Cantarell", sans-serif;
}

.ff-accent {
  font-family: "Antic Didone", serif;
}

.ff-heading {
  font-family: "Anonymous Pro", monospace;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-450 {
  font-size: var(--fs-450);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.container {
  --padding: 1.5rem* 2;
  --max-width: 56.75rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type=narrow] {
  --max-width: 42rem;
}

.container[data-type=wide] {
  --max-width: 68.75rem;
}

.container[data-type=full-bleed] {
  --max-width: 100%;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.center-container {
  position: relative;
}
.center-container > .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-container > .center[data-type=vertically] {
  left: auto;
  transform: translate(0, -50%);
}
.center-container > .center[data-type=horizontally] {
  top: auto;
  transform: translate(-50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.background[data-type=dot-grid] {
  opacity: 0.6;
  background: linear-gradient(90deg, var(--neutral-100) 198px, transparent 1%) center/200px 200px, linear-gradient(var(--neutral-100) 198px, transparent 1%) center/200px 200px, var(--neutral-900);
}
.background[data-type=gradient-primary] {
  background: linear-gradient(to left top, var(--cyan-400), var(--pink-400));
}
.background[data-type=sprinkles] {
  overflow: hidden;
}
.background[data-type=sprinkles] > svg {
  position: absolute;
  width: 79px;
}
.background[data-type=sprinkles] svg:nth-child(1) {
  top: 31%;
  left: 2%;
  transform: rotate(347.7948353666deg) translate(-50%, -50%);
  opacity: 1;
}
.background[data-type=sprinkles] svg:nth-child(2) {
  top: 9%;
  left: 3%;
  transform: rotate(50.157674458deg) translate(-50%, -50%);
  opacity: 0.8;
}
.background[data-type=sprinkles] svg:nth-child(3) {
  top: 12%;
  left: 22%;
  transform: rotate(189.8567988664deg) translate(-50%, -50%);
  opacity: 0.4;
}
.background[data-type=sprinkles] svg:nth-child(4) {
  top: 27%;
  left: 66%;
  transform: rotate(113.0027875386deg) translate(-50%, -50%);
  opacity: 0.3;
}
.background[data-type=sprinkles] svg:nth-child(5) {
  top: 86%;
  left: 98%;
  transform: rotate(206.4528188427deg) translate(-50%, -50%);
  opacity: 0.3;
}
.background[data-type=sprinkles] svg:nth-child(6) {
  top: 11%;
  left: 23%;
  transform: rotate(103.7279840289deg) translate(-50%, -50%);
  opacity: 1;
}
.background[data-type=sprinkles] svg:nth-child(7) {
  top: 93%;
  left: 50%;
  transform: rotate(120.0791550489deg) translate(-50%, -50%);
  opacity: 0.3;
}
.background[data-type=sprinkles] svg:nth-child(8) {
  top: 88%;
  left: 3%;
  transform: rotate(281.1910467072deg) translate(-50%, -50%);
  opacity: 1;
}

.blend[data-blend-mode=darken] {
  mix-blend-mode: darken;
}

.transition-halftone {
  display: none;
}
@media screen and (min-width: 45em) {
  .transition-halftone {
    display: block;
    background: url(images/halftone_transition_tile.png) repeat-x;
    width: 100%;
    height: 204px;
  }
  .transition-halftone[data-type=light] {
    background-image: url(images/halftone_transition_tile.png);
  }
  .transition-halftone[data-type=dark] {
    background-image: url(images/halftone_transition_tile_dark.png);
  }
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.heading-sub {
  font-size: clamp(1rem, 4.5vw + 0.5rem, var(--fs-500));
  color: var(--neutral-900);
  font-weight: 400;
  line-height: 1.1;
  text-wrap: auto;
  font-family: "Anonymous Pro", monospace;
}

.heading-1-accent {
  font-size: clamp(3rem, 20vw + 0.6rem, var(--fs-900));
  color: var(--cyan-400);
  font-weight: 400;
  line-height: 1.1;
  display: inline-block;
  font-family: "Antic Didone", serif;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-fill-color: var(--neutral-900);
  background-image: linear-gradient(45deg, var(--cyan-400), var(--pink-400));
  background-clip: text;
  background-size: 100%;
  background-color: var(--cyan-400);
  padding-bottom: 0.3em;
  margin-bottom: -0.2em;
}

.button-outlined {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  padding: 0.7em 1.2em;
  border: 0.1em, solid, var(--pink-400);
}

.button-filled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  padding: 0.7em 1.2em;
  font-size: var(--fs-500);
  border: 0.1em solid var(--neutral-900);
  box-shadow: 0.5rem 0.25rem var(--neutral-900);
}
.button-filled[data-type=primary] {
  background-color: var(--pink-400);
}

.site-header {
  color: var(--neutral-900);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 1;
}
.site-header > .container {
  margin-inline: auto;
  background-color: var(--neutral-100);
  box-shadow: 0 0 13px 20px var(--neutral-100);
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
}
.site-header > .container .nav-list-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  gap: 20px;
}
.site-header > .container .nav-list-container .nav-list {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  place-items: center;
  gap: 20px;
  position: relative;
}
.site-header > .container .nav-list-container .nav-list #nav-highlight {
  position: absolute;
  width: 120px;
  height: 90%;
  left: -10px;
}
.site-header > .container .nav-list-container li {
  font-size: var(--fs-400);
  z-index: 2;
}

#header-logo img {
  width: 5rem;
}

header {
  display: none !important;
}

#hero-section {
  height: 100svh;
  overflow-x: hidden;
  position: relative;
}
#hero-section .container {
  height: 100%;
}
#hero-section .container > .center {
  height: 60%;
  width: 100%;
}

#hero-image > img {
  transform: rotate(6deg);
}

#hero-content {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "hh hs" "cta cta";
  place-items: center;
  gap: 2rem 1rem;
}
#hero-content > [class^=button] {
  position: absolute;
  bottom: 30%;
  grid-area: cta;
  z-index: 2;
}
#hero-content > .icon-link-group {
  grid-area: hs;
  flex-direction: column;
  justify-self: end;
}

#hero-heading {
  grid-area: hh;
  justify-self: start;
}

#hero-image {
  grid-area: cta;
  justify-self: end;
  align-self: start;
}
#hero-image > img {
  max-height: 35svh;
}

#scroll-cta {
  position: absolute;
  bottom: 1.5rem;
  width: 24px;
  height: 10%;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (min-width: 45em) {
  #scroll-cta {
    height: 156px;
  }
}

.icon-link {
  display: inline-block;
  width: 1.5rem;
}

.icon-link-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}

@media screen and (min-width: 45em) {
  #about-section {
    --active-theme-name: light;
    --neutral-000: hsl(0, 0%, 100%);
    --neutral-100: hsl(39, 47%, 90%);
    --neutral-900: hsl(240, 9%, 9%);
    --neutral-1000: hsl(0, 0%, 0%);
    --pink-400: hsl(326, 100%, 53%);
    --cyan-400: hsl(176, 100%, 53%);
    --yellow-400: hsl(44, 100%, 56%);
    background-color: var(--neutral-100);
    color: var(--neutral-900);
  }
}/*# sourceMappingURL=main.css.map */