@use "../abstracts/" as *;

.transition-halftone {
  display: none;

  @include mq(medium) {
    display: block;
    background: url(images/halftone_transition_tile.png) repeat-x;
    background-size: contain;
    width: 100%;
    height: 102px;

    &[data-type="light"] {
      background-image: url(images/halftone_transition_tile.png);
    }

    &[data-type="dark"] {
      background-image: url(images/halftone_transition_tile_dark.png);
    }
  }
}
