@use "../abstracts/" as *;

#about-section {
  @include mq(medium) {
    --active-theme-name: light;
    @include color-scheme(light);

    background-color: $color-background-default;
    color: $color-text-default;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    padding-block: $about-buttons-padding-block;
    align-items: center;
  }

  > .container {
    padding-block: $section-margin;
  }
}
