@use "../abstracts/" as *;

.form {
  padding-block: $form-padding-block;
}

.field-container {
  display: grid;
  gap: $form-field-gap;

  & label {
    font-size: $form-label-font-size-small-screens;
    font-family: $form-label-font-family;
    font-weight: $form-label-font-weight;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    border-radius: none;
    background-color: $form-field-color;
    border: 2px solid $form-field-color;
    padding: $input-padding;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 2px solid $color-accent-interactive-hover;
    }
  }
}
