@use "../abstracts/" as *;

header {
  display: none !important;
}

#hero-section {
  height: 100svh;
  overflow-x: hidden;
  position: relative;

  & .container {
    height: 100%;

    & > .center {
      height: 60%;
      width: 100%;
    }
  }
}

#hero-image {
  & > img {
    transform: rotate(6deg);
  }
}

#hero-content {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "hh hs"
    "cta cta";
  place-items: center;
  gap: $hero-main-gap calc($hero-main-gap/2);

  & > [class^="button"] {
    position: absolute;
    bottom: 30%;
    grid-area: cta;
    z-index: 2;
  }

  & > .icon-link-group {
    grid-area: hs;
    flex-direction: column;
    justify-self: end;
  }
}

#hero-heading {
  grid-area: hh;
  justify-self: start;
}

#hero-image {
  grid-area: cta;
  justify-self: end;
  align-self: start;
  & > img {
    max-height: 35svh;
  }
}
