@use "../abstracts/" as *;

.site-header {
  color: $site-header-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  & > div {
    background-color: $site-header-background-color;
    box-shadow: 0 0 13px 20px $site-header-background-color ;
    display: grid;
    place-items: center;
    
    gap: $site-header-padding-y;
    padding: $site-header-padding-x $site-header-padding-y;

    & .nav-list {
      display: grid;
      grid-template-columns: auto repeat($nav-list-item-count, $nav-list-column-width) auto;
      place-items: center;
      gap: $nav-list-gap;


      & li{
        font-size: $site-header-font-size;
      }
    }
  }

  
}

#header-logo {
  & img {
    width: $header-logo-width;
  }
}
