@use "../abstracts/" as *;

.site-header {
  color: $site-header-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;

  & > div {
    display: grid;
    place-items: center;
    
    // gap: $site-header-vertical-gap;
    // padding: $site-header-padding;

    & .nav-list {
      background-color: darkgray;
      display: grid;
      grid-template-columns: auto repeat($nav-list-item-count, $nav-list-column-width) auto;
      place-items: center;
      gap: $nav-list-gap;
      padding: $site-header-padding-y/2 $site-header-padding-x $site-header-padding-y/2;
      border-radius: 10px;

      & li{
        font-size: $site-header-font-size;
      }
    }
  }

  
}

#header-logo {
  background-color: darkgray;

  margin-top: $site-header-padding-y/2;
  padding: $site-header-padding-y/2 $site-header-padding-x 0;
  border-radius: 10px 10px 0 0;

  & img {
    width: $header-logo-width;
  }
}
