@use "../abstracts/" as *;
@use "sass:math";

.site-header {
  color: $site-header-color;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 1;

  & > .container {
    margin-inline: auto;
    background-color: $site-header-background-color;
    box-shadow: 0 0 13px 20px $site-header-background-color;
    display: grid;
    place-items: center;

    gap: $site-header-padding-y;
    padding: $site-header-padding-x $site-header-padding-y;

    & .nav-list-container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      place-items: center;
      gap: $nav-list-gap;

      & .nav-list {
        display: grid;
        grid-template-columns: repeat($nav-list-item-count, $nav-list-column-width);
        place-items: center;
        gap: $nav-list-gap;
        position: relative;
        & #nav-highlight {
          position: absolute;
          width: $nav-list-column-width + $nav-list-gap;
          height: 90%;
          left: ($nav-list-gap + $nav-list-column-width) * 0 - calc($nav-list-gap / 2);
        }
      }

      & li {
        font-size: $site-header-font-size;
        z-index: 2;
      }
    }
  }
}

#header-logo {
  & img {
    width: $header-logo-width;
  }
}
