@use "../abstracts/" as *;

#scroll-cta {
  position: absolute;
  bottom: $site-header-padding-y;
  width: 24px;
  height: 10%;
  left: 50%;
  transform: translate(-50%);

  @include mq(medium) {
    height: 156px;
  }
}
